// .main {
//       background-color: rgb(231, 230, 229);
//      min-width: 100%;
//       min-height: 100vh; 
// }
.container {
    margin-top: 50px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 20px rgba(75, 73, 73, 0.1);
    padding: 20px;
    border: 2px solid #ccc;
}